
<p>
  <mat-card class="hivedash-card">
    <!--
    <mat-card-header>
      <div mat-card-avatar class="hivedash-card-header-image"></div>
      <mat-card-title style="text-align:left"> {{getMClimateBotId()}}</mat-card-title>
      <mat-card-subtitle style="text-align:left">
        HiveBot with Temperature Humidity Sensor and IR Transreciever to control AirCon Devices.
      </mat-card-subtitle>
    </mat-card-header>
    -->
    <mat-card-content>
      <table border="0" width="100%"><tr>
      <td>
        <div class="flh_card">
          <div class="flh_container">
            <span style="font-size: 300%;" >{{botFLCardTemperature | number:'2.0'}}<sup style="font-size: 50%">&#8451;</sup></span><hr />
            <span style="font-size: 85%">Temperature</span> 
          </div>
        </div>
      </td>
      <td>&nbsp;</td>
      <td>
      <div class="flh_card">
        <div class="flh_container">
          <span style="font-size: 300%;" >{{botFLCardHumidity | number:'2.0'}}<sup style="font-size: 50%">&#37;</sup></span>
          <hr />
          <span style="font-size: 85%">Humidity</span> 
        </div>
      </div>
    </td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
      <td colspan="3" align="center">
          <div *ngIf="botAcPower; else elseBlock">
              <span class="stath_card_active">&#10052; {{botAcMode}}</span>
              <span class="stath_card_active"> &#9732;
               {{botAcTemp}}c</span>
              <span class="stath_card_active">&#10020; {{botAcFanBarString}} </span>
          </div>
          <ng-template #elseBlock><span class="stath_card_inactive">A/c OFF</span></ng-template>
          <!--
        <span class="stath_card_active">1:cool</span>
        <span class="stath_card_nofeed">On</span>
        <span class="stath_card_inactive">On</span>
          -->
      </td>
    </tr><tr>
      <td colspan="3" align="center">
          <div *ngIf="botFirstDataRecieved">
          <button mat-icon-button  
            [ngClass]="{ 
              'selected-icon' : botAcProfileId == 0, 
              'working-icon' : botAcProfileIdPendingChange == 0,
              'disabled-icon'  :botAcProfileId != 0 && botAcProfileIdPendingChange!= 0 }" 
            (click)="quickLaunchAirconProfile(0,'IRAC_OFF')">
                <mat-icon aria-label="ac_profile_off" >filter_none</mat-icon>
            </button>

          <button mat-icon-button   
            [ngClass]="{ 
              'selected-icon' : botAcProfileId == 1, 
              'working-icon' : botAcProfileIdPendingChange == 1,
              'disabled-icon'  :botAcProfileId != 1 && botAcProfileIdPendingChange!= 1 }" 
            (click)="quickLaunchAirconProfile(1,'IRAC_ONN_PROFILE_A')">
              <mat-icon aria-label="ac_profile_a" >filter_1</mat-icon>
            </button>
          <button mat-icon-button  
            [ngClass]="{ 
              'selected-icon' : botAcProfileId == 2, 
              'working-icon' : botAcProfileIdPendingChange == 2,
              'disabled-icon'  :botAcProfileId != 2 && botAcProfileIdPendingChange!= 2 }" 
            (click)="quickLaunchAirconProfile(2,'IRAC_ONN_PROFILE_B')">
                <mat-icon aria-label="ac_profile_b" >filter_2</mat-icon>
            </button>
          <button mat-icon-button  
            [ngClass]="{ 
              'selected-icon' : botAcProfileId == 3, 
              'working-icon' : botAcProfileIdPendingChange == 3,
              'disabled-icon'  :botAcProfileId != 3 && botAcProfileIdPendingChange!= 3 }" 
            (click)="quickLaunchAirconProfile(3,'IRAC_ONN_PROFILE_C')">
                <mat-icon aria-label="ac_profile_c" >filter_3</mat-icon>
            </button>
            <button mat-icon-button  
            [ngClass]="{ 
              'selected-icon' : botAcProfileId == 99, 
              'working-icon' : botAcProfileIdPendingChange == 99,
              'disabled-icon'  :botAcProfileId != 99 && botAcProfileIdPendingChange!= 99 }" 
            (click)="quickLaunchAirconProfile(99,'IRAC_INTELLIGENT')">
                <mat-icon aria-label="intelli_bot" class="size-16" >android</mat-icon>
            </button> 
            
          </div> 
      </td>
    </tr>
    </table>
    </mat-card-content>
    <mat-card-content>
        <section class="function-section">
          <mat-slide-toggle (change)='toggleFuncDHTTSensor($event)' labelPosition="after" class="function-slider" [color]="slideColor"
              [checked]="slideFuncDHTTSensor" [disabled]="!botFirstDataRecieved"> DHT22 Temperature Humidity Sensor 
          </mat-slide-toggle>
        </section>
        <section class="function-section">
            <mat-slide-toggle (change)='toggleFuncInfraSensor($event)' labelPosition="after" class="function-slider" [color]="slideColor"
                [checked]="slideFuncInfraSensor" [disabled]="!botFirstDataRecieved"> InfraRed Sensor (For Development)
            </mat-slide-toggle>
          </section>
          <section class="function-section">
            <mat-slide-toggle (change)='toggleFuncDeepsleep($event)' labelPosition="after" class="function-slider" [color]="slideColor"
                [checked]="slideFuncDeepsleep" [disabled]="!botFirstDataRecieved"> Power Saver with DeepSleep  
            </mat-slide-toggle>
          </section>
          
    </mat-card-content>
    <mat-card-content>
        <section class="function-section">
          <span class="footer-text" >{{getMClimateBotId()}} </span>
            <span class="stath_card_inactive">{{botHasInstructionPendingExecute}}&nbsp;&nbsp;{{botSecondsSinceLastBotPulse}}</span>
        </section>
    </mat-card-content>
  </mat-card>
</p>