
.hivedash-card {
    max-width: 400px;
    margin-left-disabled: 10px;
    margin-top-disabled: 10px;
}

.hivedash-card-header-image {
    background-image: url('https://material.angularjs.org/latest/img/washedout.png');
    background-size: cover;
  }

.hive-table-container {
    display: flex;
    flex-direction: column;
}

.flh_card {
    box-shadow-dis: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.3s;
    width: 140px;
    font-family: "Arial", serif;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    padding: 0px 0px 5px;
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right,  rgb(193, 206, 219),rgb(92, 132, 172)); /* Standard syntax (must be last) */
}

.flh_card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.flh_container {
    padding: 2px 2px;
    margin: 0 auto;
}


.stath_card_active {
    width: 50px;
    font-family: "Helvetica", serif;
    font-size: "60%";
    color:white;
    text-align: center;
    border-radius: 4px;
    margin: 5px;
    padding: 1px 10px 1px;
    background: #238048;
    border: 2px double #238048;
}

.stath_card_inactive {
    width: 50px;
    font-family: "Helvetica";
    font-size: "60%";
    color:rgb(175, 162, 162);
    text-align: center;
    border: 2px dotted #bdbdbd;
    border-radius: 4px;
    margin: 0 auto;
    padding: 1px 10px 1px;
}

.stath_card_nofeed {
    width: 50px;
    font-family: "Helvetica", serif;
    font-size: "60%";
    color:rgb(0, 0, 0);
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
    padding: 1px 10px 0px;
    background: #d19d9d;
    border: 1px double #0f0000;
}


.disabled-icon {
    color: rgb(224, 226, 226);
    outline: none;
    transform-disabled: scale(1.5);
}

.selected-icon {
    color: rgb(31, 74, 85);
    outline: none;
}

.working-icon {
    color: rgb(31, 74, 85);
    animation-name: pulseFrames;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    outline: none;
}


@keyframes pulseFrames {
    100%   {color: rgb(255, 255, 255);}
}

 
.function-section {
    display: flex;
    align-content: center;
    align-items: right;
    height-disabled: 30px;
}

.function-slider {
    margin: 1px;
}

.footer-text {
    font-family: "Helvetica";
    font-size: "60%";
    color:rgb(175, 162, 162);
    text-align: center;
    border: 2px hidden #bdbdbd;
    border-radius: 4px;
    margin: 0 auto;
    padding: 3px 10px 1px;
}

