
<mat-card class="hivedash-card">
  
  
  
        <mat-card-content>
          <span class="hive-table-container mat-elevation-z8">
            <mat-table #table [dataSource]="inViewDataSource">
              <!-- headers -->
              <ng-container matColumnDef="command">
                  <mat-header-cell *matHeaderCellDef> Command </mat-header-cell>
                  <mat-cell *matCellDef="let InstructionDetail"> {{InstructionDetail.command}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nextFireTime">
                    <mat-header-cell *matHeaderCellDef> Next Run Time </mat-header-cell>
                    <mat-cell *matCellDef="let InstructionDetail"> {{InstructionDetail.nextFireTime}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="removeAction">
                  <mat-header-cell *matHeaderCellDef> Remove </mat-header-cell>
                  <mat-cell *matCellDef="let InstructionDetail">
                    <button mat-icon-button  (click)="removeInstruction(InstructionDetail.key)"
                    color="primary">
                      <mat-icon aria-label="Remove" >remove_circle_outline</mat-icon>
                    </button>
                  </mat-cell>
                  
              </ng-container>

              <!-- body -->
              <mat-header-row *matHeaderRowDef="inViewColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: inViewColumns;"></mat-row>
            </mat-table>
            </span>
        </mat-card-content>

  </mat-card>
  <p></p>
  <mat-card class="hivedash-card">
  
      <mat-card-header>
          <mat-card-subtitle style="text-align:left">Functions supported by BOT
          </mat-card-subtitle>
        </mat-card-header>
  
  
        <mat-card-content>
            <section class="function-checkbox-section">
                <mat-checkbox class="function-checkbox" (ngModelChange)="flagSyncToHiveCentralRequired()" [disabled]="!botReadyForFunctions" [(ngModel)]="botFunctionDHTT">DHTT SensorData</mat-checkbox>
                <mat-checkbox class="function-checkbox" (ngModelChange)="flagSyncToHiveCentralRequired()" [disabled]="!botReadyForFunctions" [(ngModel)]="botFunctionDEEPSLEEP">Power Saver with DeepSleep</mat-checkbox>
                <mat-checkbox class="function-checkbox" (ngModelChange)="flagSyncToHiveCentralRequired()" [disabled]="!botReadyForFunctions" [(ngModel)]="botFunctionIR_LISTEN"> InfraRed Reciever (For Development)</mat-checkbox>
              </section>
        </mat-card-content>

  </mat-card>
  <p></p>
